@font-face {
  font-family: 'Prohibition';
  src: url('../fonts/2FA18D_4_0.eot');
  src: url('../fonts/2FA18D_4_0.eot?#iefix') format('embedded-opentype'),url('../fonts/2FA18D_4_0.woff2') format('woff2'),url('../fonts/2FA18D_4_0.woff') format('woff'),url('../fonts/2FA18D_4_0.ttf') format('truetype');
}

@font-face {
  font-family: 'ProximaNova';
  src: url('../fonts/proximanova-reg-webfont.eot');
  src: url('../fonts/proximanova-reg-webfont.woff') format('woff');
}

body{
  margin: 0 auto;
  background-color: #F2F2F2;
}

#wrap{
  min-height: 100%;
  height: auto !important;
  margin: 0 auto -60px;
}

.news{
  text-transform: uppercase;
  font-family: 'Prohibition';
}

.footer{
  background-color: #fff;
}

.nav > li > a:hover{
  background-color: #fff;
}

.nav > li > a:hover{
  background-color: #fff;
}

.navbar{
   background-color: transparent;
   background: transparent;
   border-color: transparent;
   text-align: right;
}

.navbar-collapse{
  text-align: center;
}

.jv-nav{
  background-color: #fff;
  text-transform: uppercase;
  font-family: 'ProximaNova';
}

.jv-logo{
  text-transform: uppercase;
  font-family: 'Prohibition';
  font-size: 22px;
  color: #000;
  letter-spacing: 2px;
  text-align: center;
}

.jv-nav ul a{
  letter-spacing: 3px;
  color: #909090;
  transition: .3s ease;
}

.jv-nav a:hover{
  color: #000;
}

.icon-bar {
  background-color:#000000 !important;
}

.wide {
  width:100%;
  height:500px;
  background-image:url('../img/header.jpg');
  background-position: center;
  background-size:cover;
}

.wide img {
  width:100%;
}

.postContainer{
  background-color: #fff;
  border-bottom: 1px solid #000;
  padding: 20px;
}

.postContainer img{
  max-width: 500px;
  height: auto;
}

.postContainer h1{
  font-family: 'Prohibition';
  text-transform: uppercase;
}

.postContainer p{
  font-family: 'ProximaNova';
}

.textPost{
  font-family: 'ProximaNova';
}

.tour{
  border-left: 1px solid #000;
}

.footer{
  background: #000;
  height: 60px;
  margin-top: 100px;
}
